@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');

@import "tailwindcss";



@theme {
  --color-primary: #2563EB;
  --color-secondary: #FBBF24;
  --animate-floatOne: floatOne 45s ease-in-out infinite;
  --animate-floatTwo: floatTwo 60s ease-in-out infinite;
  --animate-floatThree: floatThree 30s ease-in-out infinite;

  --animate-wiggle: wiggle 1s ease-in-out infinite;
  @keyframes wiggle {
    0%,
    100% {
      transform: rotate(-3deg);
    }
    50% {
      transform: rotate(3deg);
    }
  }

  @keyframes floatOne {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(300px, -100px);
  }
  50% {
    transform: translate(-100px, 200px);
  }
  75% {
    transform: translate(200px, 100px);
  }
  100% {
    transform: translate(0, 0);
  }
}

  @keyframes floatTwo {
    0%, 100% {
    transform: translateY(0) translateX(0);
  }
  50% {
    transform: translateY(-400px) translateX(200px);
  }
}
  @keyframes floatThree {
  0%, 
  100% {
    transform: translateX(0);
  }
  
  50% {
    transform: translateX(600px);
  }
 
}
}


* {
  font-family: Outfit;
}

.font-playfair {
  font-family: playfair !important;
}
.font-montserrat {
  font-family: montserrat !important;
}

.food-card.center-food {
  transform: scale(1.2) !important;
  opacity: 1;
  z-index: 2;
}
.food-card.left-food {
  opacity: 1;
  z-index: 1;
}
.food-card.right-food {
  opacity: 1;
  z-index: 1;
}
.food-card.left-food2 {
  opacity: 1;
}
.food-card.right-food2 {
  opacity: 1;
}


@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes scroll-right {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}

.animate-scroll-left {
  animation: scroll-left 30s linear infinite;
}

.animate-scroll-right {
  animation: scroll-right 30s linear infinite;
}