@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');

@import "tailwindcss";



@theme {
  --color-primary: #2563EB;
  --color-secondary: #FBBF24;
}

* {
  font-family: Outfit;
}

.font-playfair {
  font-family: playfair !important;
}

.food-card.center-food {
  transform: scale(1.2) !important;
  opacity: 1;
  z-index: 2;
}
.food-card.left-food {
  opacity: 1;
  z-index: 1;
}
.food-card.right-food {
  opacity: 1;
  z-index: 1;
}
.food-card.left-food2 {
  opacity: 1;
}
.food-card.right-food2 {
  opacity: 1;
}
